<% include header %>
<body>
    <div id="wrapper">
        <div id="information"> 
            <input type="text" id="txtHoten" placeholder="ho ten" />
            <input type="text" id="txtEmail" placeholder="email" />
            <input type="text" id="txtDienthoai" placeholder="dien thoai" />
            <input type="button" id="btnSend" value="Send" />

        </div>
        <div id="listuser">
            <h3>Danh sách học viên</h3>
            <div id="ds">
               
            </div>
        </div>

    </div>

<% include footer %>