<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đưa ứng dụng lên heroku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="layout.css" />
    <script src="jquery-3.2.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="information"> 
            <input type="text" id="txtHoten" placeholder="ho ten" />
            <input type="text" id="txtEmail" placeholder="email" />
            <input type="text" id="txtDienthoai" placeholder="dien thoai" />
            <input type="button" id="btnSend" value="Send" />

        </div>
        <div id="listuser">
            <h3>Danh sách học viên</h3>
            <div id="ds">
                <div class="hocvien">
                    <div class="hang1">id: 1 ||<span>Nguyen Văn Tèo</span></div>
                    <div class="hang2">trandiep43tp@gmail.com - 0988228245</div>
                </div>
                <div class="hocvien">
                        <div class="hang1">id: 1 ||<span>Nguyen Văn Tèo</span></div>
                        <div class="hang2">trandiep43tp@gmail.com - 0988228245</div>
                 </div>
            </div>
        </div>

    </div>
</body>
</html>