<!doctype html>
<html lang="vi">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tự Học Nodejs Chat</title>
<link rel="stylesheet" type="text/css" href="layout.css" />
<script src="jquery-3.2.1.min.js"></script> 
<script src="socket.io/socket.io.js"></script>
<script src="xuly.js"></script>   

</head>
<body>
    <h2>bbbbbbbbbbbbbbb</h2>
    <button id="mrA">Click send</button>
    <h2 id="kq"></h2>
	
</body>
</html>