<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bóc tách html</title>
</head>
<body>
    <% html.each(function(i,e){%>
        <h4><%-$(this).text()%></h4>
    <% }) %>
    
</body>
</html>