<!DOCTYPE html>
<html>
<head>
    <base href="http://localhost:3000/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sửa Sinh Viên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        
     <form action="" method="post" enctype="" >
        <input type="text" name="txtTen" value="<%=data.hoten%>" />
        <input type="text" name="txtEmail" value="<%=data.email%>" />
        <button type="submit" name="btnThem">Sửa</button>
    </form>
    
</body>
</html>