<% var n="diep" %>  <!--đây là mã ejs-->
<% var x="<font color=green>Green</font>"   %>
<% var tuoi=15   %>


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>
<body>
    <h1 style="color:red">Day la bai1</h1>
    <h1><%= n %></h1> <!-- xuất giá trị -->
    <h1> <%-x  %></h1>  <!-- nên để dấu -  -->
    <h1>Cách dùng lệnh if</h1>
    <% if(tuoi>=18){ %>
        <h5>Bạn đã đủ tuổi</h5>
     <% }else{ %>
        <h5>Bạn chưa đủ tuổi</h5>
   <%  } %>

   <h1>Cách dùng lệnh for</h1>
   <% for(var i=1; i<5; i++){ %>
        <h4>Đây là dòng thứ: <%- i %> </h4>
    <% } %>
</body>
</html>