
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>
<body>
    <form action="http://localhost:3333/bai3" method="post" enctype="multipart/form-data">
        <input type="file" name="file"></br></br>
        <input type="submit" name="Upload" value="upload">
    </form>

    <h3 style="color:red"><%-info %></h3>
</body>
</html>