<!doctype html>
<html lang="vi">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tự Học Nodejs và Soket.Io</title>

<script src="jquery-3.2.1.min.js"></script>
<script src="socket.io/socket.io.js"></script><!-- chèn socket.io-->
<script>
    //goi điện lên server
    var socket=io("http://localhost:3000/");

    $(document).ready(function(){
      $("#mrA").click(function(){
           //gui thong tin len server
           socket.emit("client-send-data", "HELLO");  //send-data là do mình đặt           
       });

        //client nhận dữ lieu từ server
        socket.on("server-send-data", function(data){
            $("#kq").append(data + ", ");
        });
    });
</script>


</head>
<body>
    <h2>bbbbbbbbbbbbbbb</h2>
    <button id="mrA">Click send</button>
    <h2 id="kq"></h2>
	
</body>
</html>